/*font-family: 'Wire One', sans-serif;
font-family: 'Spectral SC', serif;*/

/*global styles*/

html, body{
    background-image:url('../images/topography.jpg');
    overflow-x: hidden;
    position:relative;
    height:100%;
    margin:0px;

}

li >a{
    color:#777777;
    text-decoration:none;
}

a:hover{
    color:purple;
    text-decoration: underline;

}

.wrapper{
    min-height:100%;
    display:flex;
    flex-direction:column;
}

.wrapper:after{
    content:"";
}

.wrapper:after,
footer{
    height:100px;
}


li{
    display: inline-block;
}

h1{
    border:solid;
    border-color:#4aaaa5;
    background-color:#4aaaa5;
    width: 300px;
    padding: 25px;
    margin-left:60px;
    color:white;
    position: relative;
    text-align:center;
    display:inline-block; 
}

h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color:#4aaaa5;
    border-bottom: 2px solid #dddddd;
    text-align: center;
}

.titleMain,
h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color:#4aaaa5;
    border-bottom: 2px solid #dddddd;
}

textarea{
    resize:none;
    overflow-x: hidden;
    display:block;
}

label{
    font-size: 16px;
}

input, label{

    display:block;
}

.icon-bar{
    font-size: 30px;
    width:200px;
    margin: 10px 10px 12px 4px;
}

.fa-github{
    color:black;
}

.fa-linkedin{
    color: #0077B5;
}

.fa-stack-overflow{
color:#F48024;
}

/*header styles*/

header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color:#ffffff;
    border-style:solid;
    border-color:#cccccc;
    width: 100%;
    height: 113px;
}

.sidebar{
    background-color:#ffffff;
    height:100px;
    width: 270px;
    text-align:center;
    display:inline-block;
    position:relative;
    margin-top:20px;
    float:right;
}

.sidebar-index{
    background-color:#ffffff;
    height:100px;
    width: 270px;
    text-align:center;
    display:inline-block;
    position:absolute;
    margin:-480px 60px 200px 700px;
    float:right;
}


nav{
    font-family: 'Georgia', Times, Times New Roman, serif;
    position:relative;
}

.navi{
    width: 250px;
    margin: -59px 20px 40px 500px;
}

/*main styles*/

.main-section {
    border-style:1 px solid #dddddd;
    background-color: #ffffff;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
    width: 650px;
    position:relative;
    padding:0;
    align-self:auto;
}

.main-section-contact{
    border-style:1 px solid #dddddd;
    background-color: #ffffff;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
    width: 650px;
    padding:20px;
}

div>img {
    width:225px;
    height:150px;
    float:left;
    padding: 2px;
    opacity:0.8;
}

.stock{
    position:relative;
    opacity: 1;
    font-size: 14px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 225px;
    height:30px;
    margin-top:100px;
    padding:0;
}

.figcaption{
    color: white;
    background-color: #4aaaa5;
    font-family:'Georgia', Times, Times New Roman, serif;
    position:absolute;
    margin:100px 10px 100px 2px;
    padding-left:10px;
    padding-right:20px;
    text-align:center;
    width: 194px;
    height:25px;
    font-size: 16px;

}

.row{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    
}

.first {
    flex:5%;
    max-width:75%;
    padding:5px;
    margin-top:-85px;
}

.second{

    flex:50%;
    max-width:75%;
    padding:5px;
    margin-top:-85px;

}
.first img{
    vertical-align: middle;
   
}

.second img{
    vertical-align: middle;
}

.biopic {
    padding-right: 10px;
    height: 250px;
    width:190px;
    image-rendering:auto;

}

.biotext p{
    position:relative;
    padding:5px;
}

.button{
    color: white;
    background: #4aaaa5;
    border: 1 px solid #4aaaa5;
    height: 30px;
    width:90px;
}

/*footer styles*/

footer {
    color: white;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
    width:100%;
    height: 100px;
}
/*if device width is less than or equal to 980*/
@media screen and (max-width:980px){
    
/*test
    p{
        color:purple;
    }
*/

/*main styles*/
    .main-section{
        width: 350px;
        margin-left: 200px;
    }

    .biopic{
        margin-left: 41px;
    }

    .biotext{
        text-align:center;
        
    }

    h2{
        font-size: 24px;
    }

    h3{
        font-size: 20px;
    }

/*social bar*/
.icon-bar a{
    font-size:50px;
    padding: 7px;
}

.icon-bar{
   margin:10px 20px 10px -6px;
}

.sidebar{
    height: 150px;
    margin-right:100px;
}

/*portfolio page*/
.row{
    display:flex;
    flex-wrap:wrap;
}

.first{
    flex:25%;
    max-width:75%;
    padding:5px;
}

.second{
    flex:25%;
    max-width:75%;
    padding:5px;
}

.first img{
    vertical-align: middle;
}

.second img{
    vertical-align: middle;
}

/*contact page*/
.main-section-contact{
    margin:30px 10px 10px 150px;
    width:360px;
    padding:10px;
}

}

/*if device width is less than or equal to 768*/
@media screen and (max-width:768px){
/*test 
    p{
  color:tomato;
    }    
*/ 
/*index*/

.wrapper{
    display:flex;
    flex-direction:column;
    flex-flow:column wrap;
    margin-bottom:20px;
}

.main-section{
    margin-left:5px;
    width:99%;
    align-self: center;
}

.sidebar{
    margin:-4px 5px;
    width:99%;
    height:115px;
    align-self: center;

}
.icon-bar{
    margin:-6px 200px 10px 231px;
}
.wrapper:after{
    height:auto;
}


.index-pic{
    display:flex;
}

.biotext{
    text-align:left;
}

/*portfolio*/
.row{
    display:inline-block;
    margin-left:50px;
}

.first{
    max-width:50%;
    padding:5px;
    float:left;
}

.second{
    max-width:50%;
    padding:5px;
    float:right;
}

.first img{
    vertical-align: middle;
}

.second img{
    vertical-align: middle;
}


.sidebar{
    margin:10px 5px;
    width:99%;
    height:115px;
    align-self: center;
}

}

/*if device width is less than or equal to 640*/
@media screen and (max-width:640px){
/*test*/
    p{
        color:aqua;
    }
}
